.separator {
  border: 0;
  box-sizing: border-box;

  &[aria-orientation="horizontal"] {
    height: 0;
    width: 100%;
    border-bottom: 1px solid var(--color-gray-400);
  }

  &[aria-orientation="vertical"] {
    height: 100%;
    width: 0;
    border-right: 1px solid var(--color-gray-400);
  }
}
