@import "../styles//media.scss";

.article {
  position: relative;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  box-sizing: border-box;

  @include tablet {
    flex-direction: column-reverse;
    justify-content: start;
  }
}

.header {
  margin-left: var(--spacing-2);

  @include tablet {
    margin-top: var(--spacing-2);
    margin-left: 0;
  }
}

.titleLink {
  font-size: inherit;
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
}

.article:hover .image {
  transform: scale(1.1);
}

.imageWrapper {
  overflow: hidden;
  flex-shrink: 0;
  height: 5rem;
  width: 8rem;

  @include tablet {
    height: auto;
    width: auto;
  }
}

.image {
  height: 100%;
  width: 100%;
  transition: transform 0.2s;
}
