.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  border-bottom: var(--border-width-xs) solid var(--color-gray-400);
}

.headerContentLeft,
.headerContentRight {
  flex: 1;
}

.dateLink {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.logoLink {
  display: inline-block;
  text-decoration: none;
}
