.link {
  max-width: var(--line-length);
  text-decoration: none;
  font-size: var(--font-size-base);
  color: var(--color-primary-600);

  &:hover {
    color: var(--color-primary-800);
    text-decoration: underline;
  }

  &:visited {
    color: var(--color-primary-800);
  }

  &:visited:hover {
    color: var(--color-primary-900);
  }
}
