@import "../styles/media.scss";

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: var(--spacing-0);
  margin: var(--spacing-0);
}

.listItem {
  margin-right: var(--spacing-3);

  @include tablet {
    margin-right: var(--spacing-6);
  }
}
