@import "../styles/media.scss";

.nav {
  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: var(--border-width-xs) solid var(--color-gray-200);
    box-shadow: 0 6px 5px -4px rgba(0, 0, 0, 0.1);

    .container {
      border-bottom: none;
    }
  }
}

.stickyNavQualifier {
  & + nav {
    margin-top: 0;
  }
}

.container {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
  border-bottom: var(--border-width-xs) solid var(--color-gray-400);
}

.list {
  list-style: none;
  padding: var(--spacing-0);
}

.link {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semibold);
  color: var(--color-gray-900);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.menuContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
