html {
  font-family: var(--font-family);
  line-height: calc(5px + 2ex + 5px);
}

.layout-container {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 80rem;
}
