.flatButton {
  border-color: transparent;
  background: transparent;
  color: var(--color-primary-500);

  &:hover {
    color: var(--color-primary-700);
    background: var(--color-gray-200);
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    outline: none;
  }
}
