.tableContainer {
  vertical-align: middle;
  display: inline-block;
  min-width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  border-radius: var(--border-radius-lg);
  border-bottom: var(--border-width-sm) solid var(--color-gray-200);
}

.table {
  border-spacing: 0;
  width: 100%;
}
