.primaryButton {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-color: transparent;
  background: var(--color-primary-500);
  color: var(--color-gray-100);

  &:hover {
    background: var(--color-primary-400);
    color: var(--color-gray-900);
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    outline: none;
  }
}
