@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 87.5%;
}

@media (min-width: 640px) {
  html {
    font-size: 100%;
  }
}

[tabindex="-1"] {
  outline: none;
}

.leading-generic {
  line-height: calc(5px + 2ex + 5px);
}

.headline-1 {
  @apply font-semibold;
  @apply text-5xl;
  @apply leading-generic;
}

.headline-2 {
  @apply font-semibold;
  @apply text-4xl;
  @apply leading-generic;
}

.headline-3 {
  @apply font-semibold;
  @apply text-3xl;
  @apply leading-generic;
}

.headline-4 {
  @apply font-semibold;
  @apply text-2xl;
  @apply leading-generic;
}

.headline-5 {
  @apply font-semibold;
  @apply text-xl;
  @apply leading-generic;
}

.headline-6 {
  @apply font-semibold;
  @apply text-lg;
  @apply leading-generic;
}

.body-text-normal {
  @apply text-base;
  @apply leading-generic;
  @apply normal-case;
  @apply text-black;
}

.body-text-primary {
  @apply font-semibold;
  @apply leading-generic;
  @apply normal-case;
  @apply text-black;
}

.body-text-secondary {
  @apply text-base;
  @apply leading-generic;
  @apply normal-case;
  @apply text-gray-500;
}

.error-text {
  @apply body-text-primary;
  @apply text-red-500;
}

.input {
  @apply bg-gray-200;
  @apply appearance-none;
  @apply border-2;
  @apply border-gray-200;
  @apply rounded;
  @apply py-2;
  @apply px-4;
  @apply text-gray-700;
  @apply leading-tight;
}

.form-field + .form-field {
  @apply mt-4;
}

.input:focus {
  @apply outline-none;
  @apply bg-white;
  @apply border-purple-500;
}

.button {
  @apply shadow;
  @apply bg-purple-500;
  @apply text-white;
  @apply font-bold;
  @apply py-2;
  @apply px-4;
  @apply rounded;
  @apply border;
  @apply border-transparent;
}

.button:hover {
  @apply bg-purple-400;
}

.button:focus {
  @apply shadow-outline;
  @apply outline-none;
}

.button-outline {
  @apply shadow;
  @apply bg-transparent;
  @apply text-purple-700;
  @apply font-semibold;
  @apply py-2;
  @apply px-4;
  @apply border;
  @apply border-purple-500;
  @apply rounded;
}

.button-outline:hover {
  @apply bg-purple-200;
  @apply text-purple-800;
  @apply border-transparent;
}

.button-outline:focus {
  @apply shadow-outline;
  @apply outline-none;
}

.text-cropped::before {
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  /* (1em - line-height) * 0.5 */
  margin-bottom: calc((1em - (5px + 2ex + 5px)) * 0.5);
}

.text-cropped::after {
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  /* (1em - line-height) * 0.5 */
  margin-top: calc((1em - (5px + 2ex + 5px)) * 0.5);
}

.link {
  @apply text-base;
  @apply leading-generic;
  @apply text-blue-500;
  @apply normal-case;
}

.link:hover {
  @apply text-blue-700;
  @apply underline;
}

.link:visited {
  @apply text-purple-700;
}

.link:visited:hover {
  @apply text-purple-500;
}

.layout-container {
  @apply px-3;
  @apply mx-auto;
  max-width: 80rem;
}

.sidebar-link {
  @apply block;
  @apply p-4;
  @apply body-text-primary;
  @apply border-l-4;
  @apply border-transparent;
}

.sidebar-link:hover {
  @apply bg-gray-100;
  @apply border-purple-500;
  @apply text-purple-600;
}

.sidebar-link-active {
  @apply bg-gray-100;
  @apply border-purple-500;
  @apply text-purple-600;
}

.table-container {
  @apply align-middle;
  @apply inline-block;
  @apply min-w-full;
  @apply shadow;
  @apply overflow-hidden;
  @apply rounded-lg;
  @apply border-b;
  @apply border-gray-200;
}

.table {
  @apply w-full;
}

.table-head-cell {
  @apply px-6;
  @apply py-3;
  @apply border-b;
  @apply border-gray-200;
  @apply bg-gray-100;
  @apply body-text-secondary;
  @apply text-xs;
}

.table-cell {
  @apply px-6;
  @apply py-4;
  @apply border-b;
  @apply border-gray-200;
  @apply body-text-normal;
}

.badge {
  @apply px-2;
  @apply inline-flex;
  @apply text-xs;
  @apply leading-generic;
  @apply font-semibold;
  @apply rounded-full;
  @apply bg-gray-100;
  @apply text-gray-800;
}

.badge-green {
  @apply px-2;
  @apply inline-flex;
  @apply text-xs;
  @apply leading-generic;
  @apply font-semibold;
  @apply rounded-full;
  @apply bg-green-100;
  @apply text-green-800;
}

.badge-red {
  @apply px-2;
  @apply inline-flex;
  @apply text-xs;
  @apply leading-generic;
  @apply font-semibold;
  @apply rounded-full;
  @apply bg-red-100;
  @apply text-red-800;
}

.pagination {
  @apply relative;
  @apply z-0;
  @apply inline-flex;
  @apply shadow-sm;
}

.pagination-item {
  @apply relative;
  @apply inline-flex;
  @apply items-center;
  @apply px-4;
  @apply py-2;
  @apply border;
  @apply border-gray-300;
  @apply bg-white;
  @apply text-sm;
  @apply leading-tight;
  @apply font-medium;
  @apply text-gray-700;
  @apply transition;
  @apply ease-in-out;
  @apply duration-150;
}

.pagination-item[aria-selected="true"] {
  @apply text-purple-500;
  @apply font-bold;
  @apply bg-gray-200;
}

.pagination-item:first-child {
  @apply rounded-l-md;
}

.pagination-item:last-child {
  @apply rounded-r-md;
}

.pagination-item:hover {
  @apply text-gray-500;
}

.pagination-item:focus {
  @apply z-10;
  @apply border-purple-300;
}

.pagination-item:active {
  @apply bg-gray-100;
  @apply text-gray-500;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tabs-list {
  @apply flex;
  @apply border-b-2;
  @apply border-gray-300;
}

.tabs-list-item {
  @apply inline-block;
}

.tabs-list-item-control {
  @apply py-2;
  @apply px-4;
  @apply inline-block;
  @apply relative;
  @apply body-text-primary;
  @apply text-gray-600;
}

.tabs-list-item-control:hover,
.tabs-list-item-control-active {
  @apply text-purple-500;
}

.tabs-list-item-control-active::after,
.tabs-list-item-control:hover::after {
  @apply bg-purple-500;
  @apply block;
  @apply absolute;

  content: "";
  height: 2px;
  left: 0;
  right: 0;
  bottom: -2px;
}

.markdown *,
.editor-preview * {
  @apply body-text-normal;
  @apply text-xl;
}

.markdown h1,
.editor-preview h1 {
  @apply headline-1;
}

.markdown h2,
.editor-preview h2 {
  @apply headline-2;
}

.markdown h3,
.editor-preview h3 {
  @apply headline-3;
}

.markdown h4,
.editor-preview h4 {
  @apply headline-4;
}

.markdown h5,
.editor-preview h5 {
  @apply headline-5;
}

.markdown h6,
.editor-preview h6 {
  @apply headline-6;
}

.markdown * + *,
.editor-preview * + * {
  @apply mt-6;
}

.markdown ul,
.editor-preview ul {
  @apply list-disc;
  @apply list-inside;
  @apply pl-8;
}

.markdown ul li + li,
.editor-preview ul li + li {
  @apply mt-1;
}

.markdown * + ul,
.editor-preview * + ul,
.markdown ul + *,
.editor-preview ul + * {
  @apply mt-6;
}

.markdown ol,
.editor-preview ol {
  @apply list-decimal;
  @apply list-inside;
  @apply pl-8;
}

.markdown ol li + li,
.editor-preview ol li + li {
  @apply mt-1;
}

.markdown * + ol,
.editor-preview * + ol,
.markdown ol + *,
.editor-preview ol + * {
  @apply mt-6;
}

.markdown strong,
.editor-preview strong {
  @apply body-text-primary;
}

.markdown em,
.editor-preview em {
  @apply body-text-normal;
  @apply italic;
}

.markdown a,
.editor-preview a {
  @apply link;
}

.markdown a:hover,
.editor-preview a:hover {
  @apply text-blue-700;
  @apply underline;
}

.markdown a:visited,
.editor-preview a:visited {
  @apply text-purple-700;
}

.markdown a:visited:hover,
.editor-preview a:visited:hover {
  @apply text-purple-500;
}

.markdown blockquote,
.editor-preview blockquote {
  @apply italic;
  @apply relative;
  @apply bg-gray-100;
  @apply border-l-4;
  @apply border-purple-500;
  @apply p-4;
}

.CodeMirror .cm-header-1 {
  @apply headline-1;
}

.CodeMirror .cm-header-2 {
  @apply headline-2;
}

.CodeMirror .cm-header-3 {
  @apply headline-3;
}

.CodeMirror .cm-header-4 {
  @apply headline-4;
}

.CodeMirror .cm-header-5 {
  @apply headline-5;
}

.CodeMirror .cm-header-6 {
  @apply headline-6;
}

.CodeMirror .CodeMirror-line {
  @apply body-text-normal;
}

.CodeMirror .cm-strong {
  @apply body-text-primary;
}

.CodeMirror .cm-em {
  @apply body-text-normal;
  @apply italic;
}

.CodeMirror .cm-link {
  @apply link;
}
